{{> header }}
<div class="container"><div class="card-group">
  <div class="card">
    <div class="card-body">
      <div class="contianer">
        <form action="/create/note" method="post">
          <div class="form-group">
          <textarea name="text" class="form-control" placeholder="Leave a body here" id="floatingTextarea" rows="10"></textarea>
  <label for="floatingTextarea"></label>
          </div>
          <span class="input-group-btn">
            <button type="submit" class="btn btn-primary">submit</button>
          </span>
        </form>
      </div>
    </div>
  </div>
</div></div>

{{> footer }}