<nav class="navbar navbar-expand navbar-dark w-100 bg-dark text-center">
    <ul class="nav navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="http://localhost:3000">index</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="http://localhost:3000/notes/create">create note</a>
        </li>      <li class="nav-item">
            <a class="nav-link" href="http://localhost:3000/notes">notes</a>
        </li>      <li class="nav-item">
            <a class="nav-link" href="http://localhost:3000/users">users</a>
        </li> 
    </ul>

    <ul class="nav navbar-nav text-danger">
        <li>
                        <a class="nav-link text-danger" href="http://localhost:3000/logout">logout</a>
        </li>
    </ul>
</nav>